.main-nav{
      position: sticky;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 200;
}
nav {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;
    z-index: 1000;
    

  }
  
  .logo  {
    display: flex;
    align-items: center;
    color: #1d2228;
  
  }

  .logo a img {
    color: #1d2228;
    width: 100px;
    
}

  ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  ul li:not(:last-child) {
    display: inline-block;
    margin: 0 0.9rem;
    
  }
  
  ul li a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #1d2228;
    cursor: pointer;
    font-weight: bold;
    transition: 0.7s;
  }
  .shop{
    position: relative;
    font-size: 24px;
  }
  ul li a span{
    position: absolute;
    top: -8px;
    right: -9px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    
  }
  
  ul li a::after {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 0%;
    left: 0;
    top: 1.8rem;
    background-color: #1d2228;
    transition: 0.3s linear;
  }
  
  ul li a:hover::after {
    width: 100%;
  }
  
  ul li a.clicked::after {
    width: 100%;
  }
  
  ul li a:hover {
   
    background-color: #ffffff;
  }
  
  .toggle-button {
    display: none;
    font-size: 1.8rem;
  }
  
  @media screen and (max-width: 1000px) {
    nav {
     height: 70px;
     
    }
  }
  @media screen and (max-width: 940px) {
    .toggle-button {
      display: block;
      color: #1d2228;
      
    }
    ul{
      
      transition: 0.6s;  
      flex-direction: column;
      position: fixed;
      top: 60px;
      background-color: #ffffff;
      width: 100%;
      height: 100%;
      left: -1000px;
      justify-content: flex-start;
      align-items: center;
    }
  
    ul li {
      padding: 1.5rem 0;
      font-size: 1.2rem;
    }

    
  
    ul.active {
      left: 0px;
      text-align: center;
    }
  }